M2/.idea/*
M2/M2.iml
M2/*.MF
M2/logs/
M2/bin/
M2/*.jar
M2/.DS_Store
M2/.idea/workspace.xml
M2/zookeeper-3.4.11/*/*.jar
M2/zookeeper-3.4.11/*/*.jar.*
M2/MyStore/
M2/out/
M3/*.MF
M3/.idea/
M3/bin/
M3/*.jar
M3/.DS_Store
M3/zookeeper.out
M3/logs/
M3/.DS_Store
M3/M3.iml
M2/zookeeper-3.4.11/*
M3/out/
M3/MyStore
M4/*.MF
M4/.idea/
M4/bin/
M4/*.jar
M4/.DS_Store
M4/zookeeper.out
M4/logs/
M4/.DS_Store
M4/M4.iml
M4/zookeeper-3.4.11/*
M4/out/
M4/MyStore
~            
