/echoServer/bin/server/.TextMessage.java.swp
.idea
*.iml
/MyStore/DB-Server50000.txt
/out/production/M1/app_kvServer/CacheManager/FIFO$1.class
/out/production/M1/app_kvServer/Database/IKVDatabase.class
/out/production/M1/app_kvServer/Database/KVDatabase.class
/out/production/M1/app_kvServer/Database/KVEntry.class
/out/production/M1/app_kvServer/CacheManager/LRU$1.class
/out/*

.DS_Store
CLIENT_MANIFEST.MF
SERVER_MANIFEST.MF
bin/
m1-client.jar
m1-server.jar
*/.DS_Store
logs/testing/
MyStore/

